.wholeCard {
  display: flex;
  color: #382d72;
  flex-direction: column;
  width: 90vw;
  height: auto;
  border: none;
  box-shadow: 2px 4px 16px #a080e1;
  border-radius: 30px;
  justify-content: space-between;
  background-color: #b7c2c6;
  padding: 15px;
  @media (min-width: 768px) {
    width: 45vw;
  }
  @media (min-width: 1024px) {
    width: 30vw;
  }
}

.imgStyle {
  object-fit: cover;
  border-radius: 30px;
  height: auto;
}

.gitImg {
  height: 50%;
}
