.imgClass {
  height: auto;
  width: 80vw;
  border-radius: 10px;
  margin-top: 15px;
  box-shadow: 5px 5px 10px #382d72;
  @media (min-width: 768px) {
    height: 30vh;
    width: auto;
  }
}

.textSection {
  width: 90vw;
  background-color: #b7c2c6;
  color: #382d72;
  padding: 10px;
  border-radius: 30px;
  box-shadow: 2px 4px 16px #a080e1;
  @media (min-width: 768px) {
    width: 40vw;
  }
}

.amSection {
  display: flex;
  flex-direction: column;
  width: 90vw;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
  @media (min-width: 768px) {
    display: flex;
    flex-direction: row;
    width: 90vw;
  }
}

.test {
  color: #382d72 #5c509c #a080e1 #b7c2c6 #e5ccf4;
}
